<div class="container">
<p class="font-weight-bold text-center">Welcome, to your Physician Page</p>
<br>
<br>
<div class="row">
<div class="col-sm"></div>
<div class="text-left">
   <% if flash.has?(:message) %>
   <%=f lash[:message] %>
   <% end %>
</div>
<div class="col-4">
   <% @patients.each do |patient| %>
   <p class="text-left">--->
      <label class=font-weight-bold>Username:</label>
      <%=p atient.username %>
   </p>
   <p class="text-left">--->
      <label class=font-weight-bold>Medical History: </label>
      <%=p atient.medical_history %>
   </p>
   <p class="text-left">--->
      <label class=font-weight-bold>Active Problems: </label>
      <%=p atient.active_problems %>
   </p>
   <p class="text-left">Click to edit or delete the patient below.</p>
   <br>
   <div class="text-left">
      <a class="button" href="/patients/<%=patient.id%>/edit">Edit Patient</a>
      <br>
      <br>
      <form method="post" action="/patients/<%= patient.id %>/delete">
         <input id="hidden" type="hidden" name="_method" value="Delete">
         <input type="submit" value="Delete">
   </div>
   </form>
   <br>
   <br>
   <br>
   <%end%>
   <br>
   <br>
</div>
<div class="col-4">
   <a class="button" href="/patients/new">Add New Patient</a>
   <br>
   <br>
   <a class="button" href="/logout">Logout</a>
</div>
<br>
<br>
