<div class="header">
   <% if flash.has?(:message) %>
      <h2 class="text-center"><%=flash[:message] %></h2>
   <% end %>
   <br>
   <h2>Welcome <%= @physician.username %></h2>
</div>
<br>
<br>
<section>
   <div class="text-center">
         <% @patients.each do |patient| %>
            <p class="text-center">--->
               <label class=font-weight-bold>Username:</label>
               <%=patient.username %>
            </p>
            <p class="text-center">--->
               <label class=font-weight-bold>Medical History: </label>
               <%=patient.medical_history %>
            </p>
            <p class="text-center">--->
               <label class=font-weight-bold>Active Problems: </label>
               <%=patient.active_problems %>
            </p>
            <p class="text-center">Click to edit or delete the patient below.</p>
            <br>
            <div class="text-center"> <a class="button" href="/patients/<%=patient.id%>/edit">Edit Patient</a>
               <br>
               <br>
               <form method="post" action="/patients/<%= patient.id %>/delete">
                  <input id="hidden" type="hidden" name="_method" value="Delete">
                  <input type="submit" value="Delete"> </div>
            </form>
            <br>
            <br>
            <br>
            <%end%>
               <br>
               <br> 
            </div>
</section>

<footer class="page-footer font-small blue">
  <div class="footer text-center py-3">
    <a class="button" href="/patients/new">Add New Patient</a>
    <br>
    <br>
    <a class="button" href="/logout">Return to Main Menu</a>
    <br> 
    <br>
    <a class="button" href="/logout">Logout</a>
    <br>
    <br>
  </div>
</footer>
