<!DOCTYPE html>
<html lang="en">

   <style>
   body {
        background-image: url('/img/photo-1528460033278-a6ba57020470.avif');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
        background-attachment: fixed;
      }
   a {
      font-family: 'Roboto', sans-serif;
      color: black;
      text-shadow: none;
      text-align: left;
   }
   p {
      font-family: 'Roboto', sans-serif;
      text-align: left;
   }
   .col-sm {
      padding-top: 100px;
   }
   h1 {
      color: #F8F8FF;
   }
   .text-center {
      text-align: left;
   }
   .col-md {

   }
   </style>
<div class="container">
<div class="form-box">
<div class="col-sm">
<div class="header-text text-center">   
<div class="header">
   <% if flash.has?(:message) %>
      <h2 class="text-center"><%=flash[:message] %></h2>
   <% end %>
   <br>
   <h2>Welcome <%= @physician.username %></h2>
</div>
<br>
<br>
<section>
<div class="col-md">
   <div class="text-justify">
         <% @patients.each do |patient| %>
            <p class="text-justify">--->
               <label class=font-weight-bold>Username:</label>
               <%=patient.username %>
            </p>
            <p class="text-justify">--->
               <label class=font-weight-bold>Medical History: </label>
               <%=patient.medical_history %>
            </p>
            <p class="text-justify">--->
               <label class=font-weight-bold>Active Problems: </label>
               <%=patient.active_problems %>
            </p>
            <p class="text-justify">Click to edit or delete the patient below.</p>
            <br>
            <div class="text-justify"> <a class="button" href="/patients/<%=patient.id%>/edit">Edit Patient</a>
               <br>
               <br>
               <form method="post" action="/patients/<%= patient.id %>/delete">
                  <input id="hidden" type="hidden" name="_method" value="Delete">
                  <input type="submit" value="Delete"> </div>
            </form>
            <br>
            <br>
            <br>
            <%end%>
               <br>
               <br> 
            </div>
            </div>
</section>

<footer class="page-footer font-small blue">
  <div class="footer text-center py-3">
    <a class="button" href="/patients/new">Add New Patient</a>
    <br>
    <br>
    <a class="button" href="/logout">Return to Main Menu</a>
    <br> 
    <br>
    <a class="button" href="/logout">Logout</a>
    <br>
    <br>
  </div>
</footer>
</div>
</div>
</div> 