<!DOCTYPE html>
<html lang="en">
 <style>
   body {
      background-image: url('/img/photo-1528460033278-a6ba57020470.avif');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: top;
      background-attachment: fixed;
      }
   .button {
      font-family: 'Roboto', sans-serif;
      margin-left: 250px;
      color: black;
      text-shadow: none;
   }
   p {
      font-family: 'Roboto', sans-serif;
      margin-left: 300px;
   }
   .col-sm {
      padding-top: 100px;
   }
   h2 {
      #color: #F8F8FF;
      margin-left: 250px;
   }
   .text-center {
   }
   button, input, optgroup, select, textarea {
      margin-left: 250px;
   }
   a {
      color: #F8F8FF;
   }
   .navbar-nav .nav-link.active, .navbar-nav .show>.nav-link {
      color: #F8F8FF;
   }
   .button {
    #margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    user-select: none;
    white-space: pre;
    align-items: flex-start;
    text-align: center;
    cursor: default;
    box-sizing: border-box;
    background-color: buttonface;
    color: buttontext;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonborder;
    border-image: initial;
   }
  </style>
<div class="container">
<div class="form-box">
<div class="col-sm">
<div class="header-text">   
<div class="header">
   <% if flash.has?(:message) %>
      <h2 class="text-justify"><%=flash[:message] %></h2>
   <% end %>
   <br>
   <h2>Welcome <%= @physician.username %></h2>
</div>
<br>
<br>
<section>
<div class="col-md">
   <div class="text-justify">
         <% @patients.each do |patient| %>
            <p class="text-justify">--->
               <label class=font-weight-bold>Username:</label>
               <%=patient.username %>
            </p>
            <p class="text-justify">--->
               <label class=font-weight-bold>Medical History: </label>
               <%=patient.medical_history %>
            </p>
            <p class="text-justify">--->
               <label class=font-weight-bold>Active Problems: </label>
               <%=patient.active_problems %>
            </p>
            <p class="text-justify">Click to edit or delete the patient below.</p>
            <br>
            <div class="text-justify"> <a class="button" href="/patients/<%=patient.id%>/edit">Edit Patient</a>
               <br>
               <br>
               <form method="post" action="/patients/<%= patient.id %>/delete">
                  <input id="hidden" type="hidden" name="_method" value="Delete">
                  <input type="submit" value="Delete"> </div>
            </form>
            <br>
            <br>
            <br>
            <%end%>
               <br>
               <br> 
            </div>
            </div>
</section>

<footer class="page-footer font-small blue">
</footer>
</div>
</div>
</div> 