<p>Welcome, to your Physician Page</p>

<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<% @patients.each do |patient| %>
  <p>---> <label>Username:</label> <%= patient.username %> </p>
  <p>---> <label>Medical History: </label><%= patient.medical_history %> </p>
  <p>---> <label>Active Problems: </label><%= patient.active_problems %> </p>

<p>Click to edit or delete the patient below.</p>
<br>
<a class="button" href="/patients/<%=patient.id%>/edit">Edit Patient</a>
<br>
<br>
<form method="post" action="/patients/<%= patient.id %>/delete">
  <input id="hidden" type="hidden" name="_method" value="Delete">
  <input type="submit" value="Delete">
</form>
<br>
<%end%>
<br>
<br>
<a class="button" href="/patients/new">Add New Patient</a>
<br>
<br>
<a class="button" href="/logout">Logout</a>
<br>
<br>
