<!DOCTYPE html>
<html lang="en">

   <style>
   body {
        background-image: url('/img/photo-1528460033278-a6ba57020470.avif');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
        background-attachment: fixed;
      }
   a {
      font-family: 'Roboto', sans-serif;
      color: black;
      text-shadow: none;
   }
   p {
      font-family: 'Roboto', sans-serif;
      #margin-left: 300px;
   }
   .col-sm {
      padding-top: 50px;
   }
   h2 {
      text-align: center;
   }
   form {
      #margin-left: 300px;
      #padding: 40px;
   }
   </style>
<div class="container">
<div class="form-box">
<div class="col-sm">
<div class="header-text">   
<div class="header">
   
<% if flash.has?(:message) %>
   <%=flash[:message] %>  
        <% end %>
        <h2> Edit Patient </h2>
      <form method="post" action="/patients/<%= @patient.id %>">
            <p class="text-justify">
              <label class="font-weight-bold"> Patient Username: 
              </label>
              <%=@patient.username %>
            </p>
            <p class="text-justify">
              <label class="font-weight-bold">Medical History:
              </label> 
              <%=@patient.medical_history %>
            </p>
            <p class="text-justify">
                <label class="font-weight-bold"> Active Medical Problems: </label>
                <%=@patient.active_problems %>
            </p>
            <br>
            <p class="text-justify">Please enter the Patient Username, Medical History, and Active Medical Problems as you would like them to appear:</p>
            <div class="text-justify">
                <input id="hidden" type="hidden" name="_method" value="PATCH">
                <label class="font-weight-bold">Username:
                <input type="text" class="form-control input-group-sm" id="floatingInput" name="username" placeholder="username">
                </label>             
                <br>
                <br>
                <label class="font-weight-bold">Medical History:
                <input type="text" class="form-control input-group-sm" id="floatingInput" name="medical_history" placeholder="medical_history">
                </label>
                <br>
                <br>
                <label class="font-weight-bold">Active Medical Problems:
                <input type="text" class="form-control input-group-sm" id="floatingInput" name="active_problems" placeholder="active_problems">
                </label>
                <br>
                <br>
              <input type="submit" value="Submit Edits">
              </form>
            </div>
            </div>
            </div>
            </div> 
