
<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<h2> Edit Patient <%= @patient.username %> </h2>
<br>
<br>
<h2> Medical History: <%= @patient.medical_history %></h2>
<br>
<br>
<h2> Active Medical Problems: <%= @patient.active_problems %></h2>
<br>
<br>
<br>
<br>
<form method="post" action="/patients/<%= @patient.id %>"
  <input type="hidden" name="_method" value="patch">
<br>
<br>
<br>
  <label>Medical History:</label>
  <input type="text" name="medical_history" >
<br>
<br>
<br>
  <label>Active Medical Problems:</label>
  <input type="text" name="active_problems" >
<br>
<br>
<br>
  <input type="submit" value="Submit Edits">
<br>
<br>
<br>
  <a class="button" href="/logout">Logout</a>

</form>
