
<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>


<h2> Patient Username: <%= @patient.username %> </h2>
<br>
<br>
<h2> Medical History: <%= @patient.medical_history %></h2>
<br>
<br>
<h2> Active Medical Problems: <%= @patient.active_problems %></h2>
<br>
<br>
<br>
<br>
<p>Please enter the Patient Username, Medical History, and Active Medical Problems as you would like
  them to appear</p>
<form method="post" action="/patients/<%= @patient.id %>">
  <input id="hidden" type="hidden" name="_method" value="PATCH">
  <label>Username:</label>
  <input type="text" name="username" >
<br>
<br>
<br>
  <label>Medical History:</label>
  <input type="text" name="medical_history" >
<br>
<br>
<br>
  <label>Active Medical Problems:</label>
  <input type="text" name="active_problems" >
<br>
<br>
<br>
  <input type="submit" value="Submit Edits">
<br>
<br>
<br>
  <a class="button" href="/logout">Logout</a>

</form>
