<!DOCTYPE html>
<html lang="en">
  <head>

    <style>
   body {
        background-image: url('/img/157802-turquoise-background.jpg');
   }
   a {
      color: black;
      text-shadow: none;
   }
   p {
      font-family: 'Roboto', sans-serif;
      margin-left: 15px;
   }
   .col-lg {
     padding-top: 25px;
     max-width: 100%;
   }
   header {
    text-align: center!important;
   }
   h2, h4, h5 {
      #color: #F8F8FF;
      #margin-left: 250px;
   }
   h3 {
      #color: #F8F8FF;
      text-align: justify; 
      text-justify: inter-word;
      #margin-left: 300px;
      #padding-top: 100px;
   }
   .navbar-nav .nav-link.active, .navbar-nav .show>.nav-link {
      color: #F8F8FF;
   }
   .measurements {
      padding-bottom: 30px;
   }
   @media (min-width: 600px) {
    .col-lg {
      #padding-left: 25px;
    }
    h2 {
      padding-top: 50px;
    }
   }
   @media (max-width: 650px) {
    h2 {
      padding-top: 200px;
      }
   }
    </style>

  </head>

  <div class="container">
   <div class="form-box">
    <div class="header text-center">
      <% if flash.has?(:message) %>
        <h3 class="text-center"><%= flash[:message] %></h3>
      <% end %>
    </div>

    <section>
      <div class="col-lg ml-250 ml-">
        <div class="text-justify">
          <div
            class="card w-100 shadow-sm p-3 mb-5 bg-white rounded" 
            style="width: 18rem;"
          >
            <div class="card-body">
              <div class="card-header lg-transparent border">
                <p class="card-text text-justify fw-bold">
                  <h5 class="fw-bold">
                    Please find your patient profile below. You may view your current medical history, active problems, and blood pressure/heart rate readings.
                    You can add additional blood pressure/heart rate readings for your doctor's review by clicking the link at the bottom of your profile.</h5>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
    <div class="col-lg ml-250 ml-">
     <div class="text-justify">
      <div
        class="card w-100 shadow-sm p-3 mb-5 bg-white rounded"
        style="width: 18rem;"
      >
        <div class="card-body">
          <div class="col-lg">
            <div class="col">
              <div class="card-header bg-transparent border-success">
                <div class ="row">
                <h4 class="card-text text-left fw-bold">
                  Name:
                  <%= @patient.username %>
                </h4>
              </div>
            </div>

            <p class="card-text text-justify fw-bold">
              <h5 class="fw-bold">
                Medical History:</h5>
              <%= @patient.medical_history %>
            </p>

            <p class="card-text text-justify fw-bold">
              <h5 class="fw-bold">
                Active Problems:
              </h5>
              <%= @patient.active_problems %>
            </p>
            <div class="measurements">
              <div class="card-header bg-transparent border">
                <% if @measurements != "null" %>
                  <% @measurements.each do |measurement| %>
                    <p class="card-text text-justify fw-bold">
                      <h5 class="fw-bold">
                        Blood Pressure:
                      </h5>
                      <%= measurement.blood_pressure %>
                    </p>

                    <p class="card-text text-justify fw-bold">
                      <h5 class="fw-bold">
                        Heart Rate:
                      </h5>
                      <%= measurement.heart_rate %>
                    </p>

                    <p class="card-text-measurement text-justify fw-bold">
                      <h5 class="fw-bold">
                        Date/Time:
                      </h5>
                      <%= measurement.date_time %>
                    </p>
                  <% end %>
                <% end %>
              </div>
            </div>
            <a href="/patients/<%=@patient.id%>/measurement">Add A New Blood Pressure and/or Heart Rate Reading</a>
          </div>
        </div>
      </div>
    </section>
  </div>
 </div>
 </div>
</div>
